

<div class="container">

<h1>Edit courses</h1>


  <div class="row">
<%= form_with(model: @course, local: true) do |f| %>
<%#= form_with scope: :courses, url: courses_path, local: true do |f| %>

<%= f.label :Course_name %>
<%= f.text_field :name %>

<%= f.label :Description %>
<%= f.text_field :description %>

<%= f.submit "Update" %>

 <% end %>
