
<h1>add books for course</h1>
<!--<div class="container">

<h1>Create books for Courses</h1>


  <div class="row">
<%= form_for @course do |f| %>
<%#= form_with scope: :courses, url: courses_path, local: true do |f| %>

<%= f.label :Book_1 %>
<%= f.text_field :book_1 %>
<%= f.label :Book_2 %>
<%= f.text_field :book_2 %>
<%= f.label :Book_1 %>
<%= f.text_field :book_2 %>


<%= f.submit "submit" %>

 <% end %>
