<!DOCTYPE html>
<html>
  <head>
    <title>My_First_App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
     
    <%= stylesheet_link_tag 'style.css', media: 'all', 'data-turbolinks-track': 'reload' %>

 
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body bgcolor="#00CED1">
    
        <%= render partial: 'layouts/pages/header' %>
    <%= image_tag "banner.jpg", alt: "user-img", style: "height: 200px; width: 1285px" , class: "responsive"%>


  <main>

    <%= yield %>
  </main>

          <%= render partial: 'layouts/pages/footer' %>

  </body>
</html>
